{% load static %}
{% load i18n %}

<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>


  
  <nav class="site-nav mb-5">
    
    <div class="sticky-nav js-sticky-header">
      <div class="container ">
        <div class="site-navigation text-center">
          <a href="{% url 'home' %}" class="logo menu-absolute m-0">{{navbars.logo}}<span class="text-primary">.</span></a>
          &nbsp;
          <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
            {% if 'tr' in request.path %}
            <li class="active"><a href="{% url 'home' %}">{{navbars.home}}</a></li>
            {% endif %}
            {% if 'en' in request.path %}
            <li class="active"><a href="{% url 'home' %}">{{navbars.home_eng}}</a></li>
            {% endif %}
            <li class="has-children">
              {% if 'tr' in request.path %}
	              <a href="#">{{navbars.bolum}}</a>
	              {% endif %}
	              {% if 'en' in request.path %}
	              <a href="#">{{navbars.bolum_eng}}</a>
	              {% endif %}
              
              <ul class="dropdown">
                {% if 'tr' in request.path %}
                <li><a href="{% url 'bolum' %}">{{navbars.bolum_alt_1}}</a></li>
                {% endif %}
                {% if 'en' in request.path %}
                <li><a href="{% url 'bolum' %}">{{navbars.bolum_alt_1_eng}}</a></li>
                {% endif %}
                {% if 'tr' in request.path %}
                <li><a href="{% url 'idare' %}">{{navbars.bolum_alt_2}}</a></li>
                {% endif %}
                {% if 'en' in request.path %}
                <li><a href="{% url 'idare' %}">{{navbars.bolum_alt_2_eng}}</a></li>
                {% endif %}
                {% if 'tr' in request.path %}
                <li><a href="{% url 'amac' %}">{{navbars.bolum_alt_3}}</a></li>
                {% endif %}
                {% if 'en' in request.path %}
                <li><a href="{% url 'amac' %}">{{navbars.bolum_alt_3_eng}}</a></li>
                {% endif %}
                {% if 'tr' in request.path %}
                <li><a href="{% url 'cikti' %}">{{navbars.bolum_alt_4}}</a></li>
                {% endif %}
                {% if 'en' in request.path %}
                <li><a href="{% url 'cikti' %}">{{navbars.bolum_alt_4_eng}}</a></li>
                {% endif %}
              </ul>
            </li>
            <li class="has-children">
                {% if 'tr' in request.path %}
                <a href="#">{{navbars.akademik}}</a>
                {% endif %}
                {% if 'en' in request.path %}
                <a href="#">{{navbars.akademik_eng}}</a>
                {% endif %}
                <ul class="dropdown">
                  <li><a href="{% url 'analiz' %}">{{navbars.akademik_alt_1}}</a></li>
                  <li><a href="{% url 'bilgisayar' %}">{{navbars.akademik_alt_2}}</a></li>
                  <li><a href="{% url 'cebir' %}">{{navbars.akademik_alt_3}}</a></li>
                  <li><a href="{% url 'geometri' %}">{{navbars.akademik_alt_4}}</a></li>
                  <li><a href="{% url 'lojik' %}">{{navbars.akademik_alt_5}}</a></li>
                  <li><a href="{% url 'topoloji' %}">{{navbars.akademik_alt_6}}</a></li>
                  <li><a href="{% url 'uygulamali' %}">{{navbars.akademik_alt_7}}</a></li>
                </ul>
            </li>
            {% if 'tr' in request.path %}
            <li><a href="{% url 'program' %}">{{navbars.program}}</a></li>
            {% endif %}
            {% if 'en' in request.path %}
            <li><a href="{% url 'program' %}">{{navbars.program_eng}}</a></li>
            {% endif %}
            {% if 'tr' in request.path %}
            <li><a href="{% url 'dersler' %}">{{navbars.ders}}</a></li>
            {% endif %}
            {% if 'en' in request.path %}
            <li><a href="{% url 'dersler' %}">{{navbars.ders_eng}}</a></li>
            {% endif %}
            {% if 'tr' in request.path %}
            <li><a href="{% url 'mezunlar' %}">{{navbars.mezun}}</a></li>
            {% endif %}
            {% if 'en' in request.path %}
            <li><a href="{% url 'mezunlar' %}">{{navbars.mezun_eng}}</a></li>
            {% endif %}
            {% if 'tr' in request.path %}
            <li><a href="{% url 'staj' %}">{{navbars.staj}}</a></li>
            {% endif %}
            {% if 'en' in request.path %}
            <li><a href="{% url 'staj' %}">{{navbars.staj_eng}}</a></li>
            {% endif %}
            {% if 'tr' in request.path %}
            <li><a href="{% url 'kalite' %}">{{navbars.kalite}}</a></li>
            {% endif %}
            {% if 'en' in request.path %}
            <li><a href="{% url 'kalite' %}">{{navbars.kalite_eng}}</a></li>
            {% endif %}
            <li class="has-children">
              {% if 'tr' in request.path %}
                <a href="#">{{navbars.arastirma}}</a>
                {% endif %}
                {% if 'en' in request.path %}
                <a href="#">{{navbars.arastirma_eng}}</a>
                {% endif %}
                <ul class="dropdown">
                  {% if 'tr' in request.path %}
                  <li><a href="{% url 'yayin' %}">{{navbars.arastirma_alt_1}}</a></li>
                  {% endif %}
                  {% if 'en' in request.path %}
                  <li><a href="{% url 'yayin' %}">{{navbars.arastirma_alt_1_eng}}</a></li>
                  {% endif %}
                  {% if 'tr' in request.path %}
                  <li><a href="{% url 'proje' %}">{{navbars.arastirma_alt_2}}</a></li>
                  {% endif %}
                  {% if 'en' in request.path %}
                  <li><a href="{% url 'proje' %}">{{navbars.arastirma_alt_2_eng}}</a></li>
                  {% endif %}
                </ul>
            </li>
            <li class="has-children">
                <a href="#">{{navbars.nokta}}</a>
                <ul class="dropdown">
                  {% for navbar2 in navbars2  %}
                  {% if 'tr' in request.path %}
                    <li><a href="{% url 'iletisim' %}">{{navbar2.name}}</a></li>
                    {% endif %}
                    {% if 'en' in request.path %}
                    <li><a href="{% url 'iletisim' %}">{{navbar2.name_eng}}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
            </li>
            <li class="has-children">
              <li>
                <a href="{% url 'en' %}">English</a>
              </li>
              <li>
                <a href="{% url 'tr' %}">Türkçe</a>
              </li>
          </li>
          
          </ul>

          

        </div>
      </div>
    </div>
  </nav>